@{
    ViewData["Title"] = "Contato";
}
<h1>@ViewData["Title"]</h1>

<p>
    <strong>Repositorio do codigo:</strong>
    <a href="https://github.com/nathanaelsouls/CadastroPessoa">github.com/nathanaelsouls/CadastroPessoa</a>
</p>
